.input {
    width: 100%;
    background-color: var(--cinza-escuro);
    color: var(--cinza-claro);
    padding: 8px;
    margin-bottom: 56px;
    border: none;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(2, 486px);
    gap: 24px;
}

.cards {
    background-color: var(--cinza-escuro);
}

.cards-content {
    padding: 16px;

}

.cards-title {
    font-size: 18px;
    line-height: 150%;
    font-weight: 600;
    color: var(--cinza-claro);
}

.cards-description {
    font-size: 15px;
    line-height: 150%;
    font-weight: 400;
    color: var(--cinza-claro);
    margin: 8px 0;
}

.cards-link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: var(--verde-destaque);
}